<!DOCTYPE html>
<html ng-app="moviesApp">
<head>
	<base href="/">
	<meta charset="utf-8" />
	<title>Movies</title>

	<!-- jQuery -->
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

	<!-- AngularJS-->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>


	<!-- App -->
	<link rel="stylesheet" href="/styles.css" />
	<script src="/app.js"></script>

	<!-- Get Server Data -->
	<script>
		angular.module("moviesApp").value("canEdit", @ViewBag.CanEdit);
	</script>

</head>
<body ng-cloak>

	@ViewBag.Name / <a href="/account/signout" target="_self">sign out</a>

	<div class="container-fluid">
		<ng-view></ng-view>
	</div>
</body>
</html>